body {
    margin: 0;
    padding: 0;
    background: url(/images/Alangilan-bsu.jpg);
    background-size: cover;
}

#login-header {
    background: transparent;
    box-shadow: 5px 3px 20px rgb(72, 67, 67);
}

.login-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.login-navbar h1 {
    color: red;
    font-family: Helvetica;
}

nav ul li { 
    list-style: none;
}

.login-list a {
    text-decoration: none;
    color: red;
    font: bold 1.125rem Helvetica;
}

.login-list a:hover {
    color: black;
}

#login-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 3% 30% 3% 30%;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 5px 3px 20px black;
    border-radius: 50px;
    padding: 3%;
}

#login-section h2 {
    text-transform: uppercase;
    font: bold 1.5rem Helvetica;
    margin-bottom: 10%;
    color: red;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input {
    margin-bottom: 2em;
    width: 20em;
    height: 3em;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid rgb(254, 225, 225);
}

form h4 {
    margin: 0.3rem;
    font: normal 1.1rem Franklin Gothic Medium;
    color: green;
}

form button {
    margin-top: 2em;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    border: none;
    background: rgb(89, 213, 89);
    cursor: pointer;
}

form button:hover {
    color: beige;
    background: black;
}